In [0]:
-- Aggregate sales data by country
select
  country,                                         -- Country name
  count(1) as total_sales,                         -- Total number of sales records
  avg(sale_amount) as avg_sale_amount,             -- Average sale amount
  sum(sale_amount) as total_sale_amount,           -- Total sale amount
  max(sale_amount) as max_sale_amount,             -- Maximum sale amount
  min(sale_amount) as min_sale_amount              -- Minimum sale amount
from workspace.sarang.sales_data1
group by country

-- Calculate total sale amount per country using window function
select
  country,                                         -- Country name
  sum(sale_amount) over(partition by country) as total_sale_amount  -- Total sale amount per country
from workspace.sarang.sales_data1

select country, sum(sale_amount) over(partition by country) wind from workspace.sarang.sales_data1 



-- Step 1: Create the table structure
CREATE OR REPLACE TABLE workspace.sarang.newtbl (
  orderid INT,
  orderdate DATE,
  productid INT,
  orderstatus STRING,
  sales DOUBLE
)
USING DELTA;


-- Step 2: Put 10 sample records into the table
INSERT INTO workspace.sarang.newtbl VALUES
  (1001, '2025-12-01', 501, 'Shipped', 150.50),
  (1002, '2025-12-02', 502, 'Delivered', 85.00),
  (1003, '2025-12-03', 501, 'Pending', 120.00),
  (1004, '2025-12-04', 505, 'Shipped', 300.25),
  (1005, '2025-12-05', 509, 'Cancelled', 45.10),
  (1006, '2025-12-06', 502, 'Delivered', 99.99),
  (1007, '2025-12-07', 501, 'Shipped', 10.50),
  (1008, '2025-12-08', 512, 'Pending', 550.00),
  (1009, '2025-12-09', 505, 'Delivered', 12.00),
  (1010, '2025-12-10', 520, 'Shipped', 88.75);